{%- liquid
  if settings.page_layout == 'boxed'
    assign isBoxed = true
  endif
-%}

<div class="page page-about">
  <div class="page_wrapper">
    {%- if isBoxed -%} <div class="container"> {%- endif -%}
      <h1 class="page_title">{{page.title}}</h1>
    {%- if isBoxed -%} </div> {%- endif -%}

    <div class="page_content">
      {%- section 'page-about-template' -%}
    </div>
  </div>
</div>