{%- if template.suffix == 'header' and template.name == 'search' -%}
  {%- include 'header-lazy',section: section -%}
{%- else -%}

  {%- liquid
    if section.settings.boxed_layout
      assign isBoxed = 'boxed'
    endif
    assign logo_type       = section.settings.logo_type
    assign helpline        = section.settings.helpline
    assign vertical_menu   = section.settings.vertical_menu
    assign horizontal_menu = section.settings.horizontal_menu | default: 'main-menu'
    assign uppercase       = section.settings.uppercase
  -%}
  {%- capture content -%}
    <div class="header-container" data-section-type="header" data-section-id="{{section.id}}">
      <div class="header-style-1">
        <div class="header-content">
          {%- include 'header-snippets' type: 'desktop' -%}
          {%- include 'header-snippets' type: 'mobile' -%}

          {%- if settings.cart_type == 'drawer' -%}
            <div class="lazy-drawer-cart" data-include="{{routes.search_url}}?q="></div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endcapture -%}

  {%- render 'compress' content: content -%}
{%- endif -%}


{% schema %}
{
  "name": {
    "en": "Header"
  },
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type" : "checkbox",
      "id" : "uppercase",
      "label" : {
        "en": "Uppercase navigation"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Logo"
      }
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": {
        "en": "Logo type"
      },
      "options": [
        {
          "value": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "value": "svg",
          "label": {
            "en": "SVG"
          }
        }
      ],
      "default": "image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "en": "Max width"
      }
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": {
        "en": "Logo"
      }
    },
    {
      "type": "textarea",
      "id": "logo_svg",
      "label": {
        "en": "Logo SVG"
      },
      "info": {
        "en": "Please enter SVG code."
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Menu settings"
      }
    },
    {
      "type": "link_list",
      "id": "vertical_menu",
      "label": {
        "en": "Vertical menu"
      }
    },
    {
      "type": "link_list",
      "id": "horizontal_menu",
      "label": {
        "en": "Horizontal menu"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Helpline"
      }
    },
    {
      "type": "text",
      "id": "helpline",
      "label": {
        "en": "Helpline"
      },
      "default": "(+800) 123 456 7890"
    },
    {
      "type": "header",
      "content": {
        "en": "New label"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "To use. When add a link, please add (new) in last. E.g: Shop (new)"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Hot label"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "To use. When add a link, please add (hot) in last. E.g: Shop (hot)"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Sale label"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "To use. When add a link, please add (sale) in last. E.g: Shop (sale)"
      }
    }
  ]
}
{% endschema %}