{%- liquid
  assign type = template.suffix
-%}

{%- case type -%}
  {%- when 'no-sidebar' -%}
    {%- include 'product-no-sidebar' -%}
  {%- when 'with-sidebar' -%}
    {%- include 'product-with-sidebar' -%}
  {%- when 'pre-order' -%}
    {%- include 'product-pre-order' -%}
  {%- else -%}
    {%- case settings.product_page -%}
      {%- when 'default' -%}
        {%- include 'product-default' -%}
      {%- when 'no-sidebar' -%}
        {%- include 'product-no-sidebar' -%}
      {%- when 'with-sidebar' -%}
        {%- include 'product-with-sidebar' -%}
    {%- endcase -%}

{%- endcase -%}

{% schema %}
{
  "name": {
    "en": "Product page"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Product template' section"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Standard - Description"
      }
    },
    {
      "type": "paragraph",
      "content": "Standard tab are created base on your Product description content. If you'd like unique set of tabs for each product you shoud use heading 5 function"
    },
    {
      "type": "checkbox",
      "id": "multi_tab",
      "label": "Use Multi-tabs with heading 5 tag",
      "default": true,
      "info": "We use heading 5 in Product's description to seperate Multi-tabs, each <h5>Tabs Title</h5> will be considered as content seperator and tabs title"
    }
  ],
  "blocks": [
    {
      "type": "page",
      "name": {
        "en": "Static - Page"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Static tab are created base on Page content. It's usefull for some content that is same for all the products like Shipping term, Size Guide, and so on"
          }
        },
        {
          "type": "text",
          "id": "page_title",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "page",
          "id": "page",
          "label": {
            "en": "Select a Page"
          }
        }
      ]
    },
    {
      "type": "iconbox",
      "limit": 1,
      "name": {
        "en": "Icon box"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          },
          "default": "Icon box"
        },
        {
          "type": "header",
          "content": {
            "en": "Icon 1"
          }
        },
        {
          "type": "html",
          "id": "icon_1",
          "label": {
            "en": "SVG"
          }
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "richtext",
          "id": "text_1",
          "label": {
            "en": "Text"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Icon 2"
          }
        },
        {
          "type": "html",
          "id": "icon_2",
          "label": {
            "en": "SVG"
          }
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": {
            "en": "Text"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Icon 3"
          }
        },
        {
          "type": "html",
          "id": "icon_3",
          "label": {
            "en": "SVG"
          }
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "richtext",
          "id": "text_3",
          "label": {
            "en": "Text"
          }
        }
      ]
    }
  ]
}
{% endschema %}