{%- include 'sidebar-snippet' -%}

<a href="#" onclick="return false" class="btn btn-1 btn-show-sidebar" id="js_open_sidebar">{{ 'products.product.show_sidebar' | t}}</a>
{% schema %}
{
  "name": {
    "en": "Product Sidebar"
  },
  "tag": "aside",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Product sidebar' section"
      }
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section Padding"
      },
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    }
  ],
  "blocks": [
     {
      "type": "category",
      "name": {
        "en": "Category"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Category's Heading"
          },
          "info": {
            "en": "Default is Menu title"
          }
        },
        {
          "type": "link_list",
          "id": "category",
          "label": {
            "en": "Category"
          }
        },
        {
          "type": "text",
          "id": "margin",
          "label": {
            "en": "Block margin"
          },
          "placeholder": {
            "en": "E.g: 5px 20px 5px 20px"
          },
          "info": {
            "en": "E.g: 5px 20px 5px 20px. Order: Top Right Bottom Left"
          }
        }
      ]
    },
    {
      "type" : "recently-view",
      "limit" : 1,
      "name" : {
        "en": "Recently View"
      },
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type" : "range",
          "id": "limit",
          "label": {
            "en" : "Limit"
          },
          "step": 1,
          "min" : 1,
          "max" : 10,
          "default" : 4
        },
        {
          "type": "text",
          "id": "margin",
          "label": {
            "en": "Block margin"
          },
          "placeholder": {
            "en": "E.g: 5px 20px 5px 20px"
          },
          "info": {
            "en": "E.g: 5px 20px 5px 20px. Order: Top Right Bottom Left"
          }
        }
      ]
    },
    {
      "type" : "product-recommend",
      "name" : {
        "en": "Product recommend"
      },
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "limit",
          "label": {
            "en": "Limit"
          },
          "default" : "5"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "margin",
          "label": {
            "en": "Block margin"
          },
          "placeholder": {
            "en": "E.g: 5px 20px 5px 20px"
          },
          "info": {
            "en": "E.g: 5px 20px 5px 20px. Order: Top Right Bottom Left"
          }
        }
      ]
    }
  ]
}
{% endschema %}