{%- liquid
  assign image            = section.settings.image
  assign heading          = section.settings.heading
  assign subheading       = section.settings.subheading
  assign enable_social    = section.settings.enable_social
  assign form_type        = section.settings.form_type
  assign form_url         = section.settings.form_url
-%}
<div class="modal modal-newsletter" id="modal_newsletter">
  <div class="modal_wrapper">

    <div class="modal_overlay js-modal-close"></div>

    <div class="modal_box">

      <div class="modal_content">
        <div class="image">
          {%- if image != blank -%}
            {%- render 'image-style' image: image -%}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag }}
          {%- endif -%}
        </div>
        <div class="content">
          <div class="heading">{{heading}}</div>
          <div class="subheading">{{subheading}}</div>
          <div class="newsletter-form">
            {%- render 'subscribe-form' type: form_type, form_url: form_url, btnStyle: section.settings.btn_style -%}
          </div>
          {%- if enable_social -%}
            <div class="social">{%- render 'social-media-icons'  -%}</div>
          {%- endif -%}
        </div>
      </div>

      <a href="#" onclick="return false" class="js-modal-close modal_close" title="{{ 'section.popup.close' | t}}">{%- render 'svg' type: 'close' -%}</a>

    </div>

  </div>
</div>


{% schema %}
{
  "name": {
    "en": "Newsletter"
  },
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default" : "Newsletter"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": {
        "en": "Subheading"
      },
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
    },
    {
      "type": "header",
      "content": {
        "en": "Form settings"
      }
    },
    {
      "type": "select",
      "id": "form_type",
      "label": {
        "en": "Type"
      },
      "options": [
        {
          "value": "shopify",
          "label": {
            "en": "Shopify"
          }
        },
        {
          "value": "klaviyo",
          "label": {
            "en": "Klaviyo"
          }
        },
        {
          "value": "mailchimp",
          "label": {
            "en": "Mailchimp"
          }
        }
      ]
    },
    {
      "type": "paragraph",
      "content": {
        "en": "Mailchimp: [Where do I get my MailChimp Form Action](https://www.arenacommerce.com/blogs/faq/shopify-theme-how-to-get-a-mailchimp-form-action-url)"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "KLAVIYO: [Sign up](https://www.klaviyo.com/partner/signup?utm_source=0010V00002PVTlf&utm_medium=partner)"
      }
    },
    {
      "type": "select",
      "id": "btn_style",
      "label" : {
        "en" : "Button style"
      },
      "options": [
       {
          "value": "1",
          "label": {
            "en": "1"
          }
       },
       {
         "value": "2",
         "label": {
           "en": "2"
         }
       },
       {
         "value": "3",
         "label": {
           "en": "3"
         }
       }
      ],
      "default" : "1"
    },
    {
      "type": "header",
      "content": {
        "en": "Social"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "label": {
        "en": "Enable"
      },
      "default" : true
    }
  ]
}
{% endschema %}